DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME={{ hass.influxdb.db_init.user }}
DOCKER_INFLUXDB_INIT_PASSWORD={{ hass.influxdb.db_init.password or salt["pillar.get"](hass.influxdb.db_init.password_pillar) }}
DOCKER_INFLUXDB_INIT_ORG={{ hass.influxdb.db_init.org }}
DOCKER_INFLUXDB_INIT_BUCKET={{ hass.influxdb.db_init.bucket }}
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN={{ hass.influxdb.db_init.admin_token or salt["pillar.get"](hass.influxdb.db_init.admin_token_pillar) }}
{%- if hass.influxdb.db_init.retention %}
DOCKER_INFLUXDB_INIT_RETENTION={{ hass.influxdb.db_init.retention }}
{%- endif %}
